name: .NET

on:
  workflow-dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore **/*.csproj
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: Test
      run: dotnet test -c Release --no-build --no-restore --verbosity normal **/*Tests.csproj
    - name: Pack
      run: dotnet pack -v normal -c Release --no-restore --include-symbols --no-build -p:PackageVersion=$GITHUB_RUN_ID !**/*Tests.csproj
